<template name="task">
    <li class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}}">
      <button class="delete">&times;</button>
   
      <input type="checkbox" checked="{{checked}}" class="toggle-checked" />

      {{#if isOwner}}
            <button class="toggle-private">
                {{#if private}}
                Private
                {{else}}
                Public
                {{/if}}
            </button>
        {{/if}}
   
      <span class="text"><strong>{{username}}</strong> - {{text}}</span>
    </li>
  </template>